// main: main.less

.clients {
    padding-bottom: 80px;
}
.clients__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #053E61;
    margin: 0;
    margin-bottom: 40px;
}

.clients__tabs-list {
    .list-default();
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E4EFF6;
    margin-bottom: 40px;
}
.clients__tab {
    font-size: 18px;
    line-height: 28px;
    color: #477085;
    background: transparent;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    transition: 0.3s;

    &&:hover {
        color: #053E61;
    }
}
.clients__tab--active {
    color: #053E61;
    border-bottom: 3px solid #40A8E7;
    cursor: default;
}


.clients__tabcontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.clients__tabcontent-img-block {
    width: 400px;
    height: 400px;
    background: rgba(64, 168, 231, 0.05);
    position: relative;
    border-radius: 50%;
}
.clients__tabcontent-img-1 {
    width: 380px;
    // height: 175px;
    position: absolute;
    right: -10px;
    top: 51px;
    z-index: 5;
}
.clients__tabcontent-img-2 {
    width: 350px;
    // height: 124px;
    position: absolute;
    bottom: 61px;
    left: -40px;
    z-index: 10;
}
.clients__tabcontent-text {
    width: 50%;
    font-size: 24px;
    line-height: 36px;
    color: #0F3B57;
    margin: 0;    
}