// main: main.less

.connect .container {
  padding-bottom: 80px;
  border-bottom: 1px solid #000;
}
.connect__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #053E61;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}
// .connect__card-num {
//   width: 120px;
//   height: 120px;
//   border-radius: 50%;
//   background: rgba(64, 168, 231, 0.05);
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// .connect__card-num span {
//   width: 80px;
//   height: 80px;
//   border-radius: 50%;
//   background: #FFFFFF;
//   border: 1px solid #E4EFF6;
//   box-shadow: 0px 4px 4px rgba(184, 205, 220, 0.3), inset 2px 2px 3px rgba(255, 255, 255, 0.42), inset -1px -1px 2px rgba(9, 68, 103, 0.31);
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   text-align: center;
//   font-family: Rubik;
//   font-weight: bold;
//   font-size: 40px;
//   // line-height: 47px;
//   color: #40A8E7;
//   box-sizing: border-box;
// }
.connect__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.connect__card {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connect__card--with-arrow {
  position: relative;
}
.connect__card-arrow {
  position: absolute;
  right: -70px;
  top: calc(50% - 17px/2);
  width: 50px;
  height: 21px;
  opacity: .3;
}

.connect__card-num {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgba(64, 168, 231, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.connect__card-num div {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid #E4EFF6;
  box-shadow: 0px 4px 4px rgba(184, 205, 220, 0.3), inset 2px 2px 3px rgba(255, 255, 255, 0.42), inset -1px -1px 2px rgba(9, 68, 103, 0.31);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}
.connect__card-num div span {
  font-family: Rubik;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #40A8E7;
  margin-left: -5px;
}
.connect__card-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #053E61;
  margin: 0;
}
.connect__btn {
  width: 500px;
  height: 125px;
  background: #FFFFFF;
  border: 1px solid #E4EFF6;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(184, 205, 220, 0.3), inset 2px 2px 3px rgba(255, 255, 255, 0.42), inset -1px -1px 2px rgba(9, 68, 103, 0.31);
  border-radius: 12px;
  display: block;
  margin: 0 auto;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #40A8E7;
}
.connect__btn svg {
  width: 16px;
  height: 14px;
  margin-left: 10px;
  margin-top: -1px;
}
.connect__btn span {
  background: radial-gradient(76.32% 303.13% at 75.59% 24.04%, #0C9AF1 0%, #E05DBB 77.63%, #EC2655 100%),
  linear-gradient(180deg, #E31448 0%, #BF378D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  font-family: Proxima Nova;
  font-weight: 800;
  font-size: 42.4775px;
  line-height: 52px; 
  text-transform: uppercase;
}
