// main: main.less

body {
    padding: 0;
    margin: 0;
    font-family: 'Proxima Nova';
    color: #ffffff;
}
a {
    text-decoration: none;
}
.container {
    width: 1245px;
    margin: auto;
}
.top-bg {
    background: radial-gradient(100% 142.63% at 0% 0%, #E51245 0%, #9D4BC3 55.81%, #00ABE3 100%), #FFFFFF;  
}